.btn {
  border: none;
  border-radius: 6px;
  padding: 0.8rem 2rem;
  cursor: pointer;
  box-shadow: 1px 2px 1px hsl(0deg 0% 0% / 0.275);
  transition: 0.3s ease-in-out;
}

.btn:hover {
  opacity: 0.8;
}

.btn:active {
  transform: scale(0.98);
  box-shadow: none;
}

.btn_primary {
  background-color: var(--primaryPurple);
  color: var(--white);
  font-weight: 500;
}

.btn_secondary {
  background-color: var(--white);
  color: var(--primaryPurple);
  padding-left: 1rem;
  font-weight: 500;
  border: none;
}

.btn_secondary:active {
  color: var(--primaryPurple);
  background-color: var(--white);
  outline: none;
}
